body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: blue;
    text-align: center;
}

.container {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px; /* espace entre les sections */
}

.left-cards {
    display: flex; /*affiche les images côte à côte */
    flex-direction: row; /* assure que les images sont alignées en ligne */
    margin-right: 20px;
    gap: 20px; /* espace entre chaque image */
}

.right-paragraph,
.right-paragraph2 {
    width: 800px; /* ajuste la largeur du paragraphe */
    padding: 10px;
    background-color: #7b0000;
    color: #ffffff;
    font-family: fantasy;
    font-size: 30px; /* taille de police ajustée */
    border-radius: 10px;
}

.leftimage {
    width: 300px; /* largeur de chaque image */
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.leftimage:hover {
    transform: scale(1.1);
}

p {
    color: #ffffff;
    line-height: 1.6;
}

a {
    display: block;
    text-align: center;
    margin: 20px;
    color: white;
    padding: 10px;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('z\ fighters.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a:hover {
    
}

